 h1, h2 {
        text-align: center;
        font-weight: bold;
        color: blue;
    }
	body {
		background-color: lightslategray;
	}
	p, ol {
		font-family: Arial;
		font-size: 16px;
	}
	.year-green {
		color: green;
	}
	.year-blue {
		color: blue;
	}
	.year-red {
		color: red;
	}
	.photo-center {
		text-align: center;
	}
	.photo-center img {
		width: 300px;
		margin-right: 8px;
	}